[Unit]
Description=detdns dynamic dns daemon
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/path/to/detdns/detdns.py
Restart=always
StandardOutput=journal
StandardError=journal
SyslogIdentifier=detdns

[Install]
WantedBy=multi-user.target